:root {
    --color1: #F8F9FA;
    --color2: #E9ECEF;
    --color3: #DEE2E6;
    --color4: #CED4DA;
    --color5: #ADB5BD;
    --color6: #6C757D;
    --color7: #495057;
    --color8: #343A40;
    --color9: #212529;
}

.wrapper {
    display:flex;
    margin: 1rem;
    height: 100%;
    flex-flow: column;
    align-items: center;
    text-align: center;
    background-color: var(--color9);
}

p{
    color: var(--color4);
    text-align: left;
    font-size: 18px;
}

img {
    filter: grayscale(0.4);
    border-radius: 0.5rem 0.5rem;
}

h1 {
    color: var(--color2);
}

h2 {
    color: var(--color3);
    background-color: var(--color8);
    border-radius: 0.5rem 0.5rem;
}

h3 {
    color: var(--color3);
    background-color: var(--color8);
    border-radius: 0.5rem 0.5rem;
}

.h1 {
    color: var(--color2);
    text-decoration: none;
    background-color: transparent;
    border: none;
    display: flex;
    align-self: center;
}

a {
    font: bold 1.5rem;
    text-decoration: none;
    background-color: var(--color5);
    color: #333333;
    border-top: 1px solid var(--color3);
    border-right: 1px solid var(--color9);
    border-bottom: 1px solid var(--color9);
    border-left: 1px solid var(--color3);
    display: flex;
    align-self: center;
}

.wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header {
    background-color: var(--color8);
    height: 130px;
    width: 99%;
    border-radius: 0px;
}

.footer {
    background-color: var(--color8);
    height: 400px;
    width: 99%;
    border-radius: 0px;
    color: var(--color4);
}

.main {
    text-align: center;
    background-color: var(--color7);
    height:  300px;
    font-size: 24px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.item_img {
    height: 20rem;
    width: 20rem;
    border-radius: 1rem 1rem;
    filter: grayscale(0.6);
    object-fit: cover;
}

.item_card {
    background-color: var(--color8);
    margin: 10px;
    height: 35rem;
    border-radius: 10px;
    display: none;
}

div .item_card {
    display: flex;
    flex-direction: column;
    height: 13rem;
}

.item_card a {
    background-color: var(--color9); /* Green */
    border-radius: 1rem 1rem;
    bottom: 0;
    color: var(--color1);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 1.2rem;
}

.mijnproducten {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.center {
    background-color: var(--color6);
    width: 60vh;
    height: 50vh;
    border-radius: 1rem 1rem;
}

.center h1 {
    text-align: center;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 40px;
    padding-top: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

}

form .txt_field {
    position: relative;
    width: 100%;
}

.txt_field input, .txt_field select {
    width: 100%;
    height: 3vh;
    border-radius: 5px 5px;
    margin-bottom: 10px;
}

 label {
    display: block;
    text-align:left;
    color: var(--color1);
    font-size: 1.2rem;
}

.wrapper > a {
    background-color: var(--color8); /* Green */
    border-radius: 0.5rem 0.5rem;
    bottom: 0;
    color: var(--color1);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 1.2rem;
}

.mijnreview {
    background-color: var(--color6);
    padding: 20px 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 1rem 1rem;
}

.mijnreviews {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.center_review {
    height: 25vh;
}

.textbox {
    background-color: var(--color7);
    padding: 10px 10px;
    border-radius: 0.5rem 0.5rem;
}

.text {
    padding-left: 18%;
}

.btn.active {
    background-color: #666;
    color: white;
  }

  .btn:hover {
    background-color: #ddd;
  }

  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .show {
    display: block;
  }

  /* Responsive */

@media only screen and (max-width: 1800px) {
    .mijnproducten {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media only screen and (max-width: 1400px) {
    .mijnproducten {
        grid-template-columns: 1fr 1fr;
      }
    .item_card h2 {
        font-size: 1.1rem;
    }
    .item_card p {
        font-size: 0.8rem;
    }

    .item_card {
        height: 40vh;
    }

    .item_card img {
        width: 10rem;
        height: 10rem;
    }
  }

  @media only screen and (max-width: 650px) {
    .mijnproducten {
        grid-template-columns: 1fr;
        align-items: stretch;
      }


}

